{% extends 'base.html' %}
{% load static %}
{% block content %}


<div id="about">
    <div class="container">
        <div class="row1">
            <div class="about-col1">
                <h1 class="py-4  lg:text-6xl head ">About Us</h1> 
            </div>
          
            <div class="about-col2">
                
                <p  class="pb-6 text-gray-500 xl:pb-10">For over 35 years, we have dedicated ourselves to the meticulous craft of sculpting exquisite works of art from brass, copper, and silver. Our passion for artistry and our commitment to excellence shine through in every piece we create, whether it's an intricate idol (statue or vigraha), a divine God’s Mask (Kavacham), or an ornate Prabhavali.

                    Our journey began with a simple yet profound mission: <br><br>to bring to life the rich cultural heritage and spiritual essence embodied in traditional metalwork. Over the decades, our skilled artisans have honed their craft, blending time-honored techniques with a keen eye for detail and quality. Each creation is a testament to our dedication, showcasing the intricate beauty and spiritual significance that these metals can convey.
                    
                    <br><br>We take immense pride in our ability to customize and create any type of idol, God’s Mask, or Prabhavali to meet your specific requirements. Whether you seek a majestic deity statue for your temple, a protective Kavacham for your personal worship, or a decorative Prabhavali to enhance your sacred space, we are here to transform your vision into reality.
                    
                    Feel free to say hello and explore the best of our work. bWe invite you to witness the artistry, craftsmanship, and devotion that go into every piece we create. Discover how our creations can add a touch of divinity and elegance to your life and spaces.
                    
                    Welcome to our world of divine metal artistry.</p>
            </div>
          </div>
    </div>
  </div>
</body>
</html>


{% endblock %}