{% extends 'base.html' %}
{% load static %}
{% block content %}

<div>

    <div id="about">
        <div class="container">
            <div class="row">
                <div class="about-col1">
                    <h1 class="tracking-widest">Alankara Kavacham (Mask):</h1>
        <p>Copper masks play a unique role in the realm of Alankara (decoration and adornment) in various cultures and rituals. Craftsmen design these exquisite sculptures with specific intentions to enhance the aesthetic and spiritual aspects of worship:</p>
                </div>
              
                <div class="about-col2">
                    <div>
                        <ol>
                            <li>Deity Masks: Craftsmen often craft copper masks to represent deities and gods from different religious traditions. People use these masks in temples and homes to adorn the idols during religious ceremonies and festivals. Craftsmen meticulously detail them, capturing the divine essence of the deity they represent.</li>
                            <li>Festival Decorations:
                                People use copper masks to decorate temples, altars, and homes during religious festivals and celebrations. These masks create a vibrant and divine atmosphere, inviting worshippers and participants to connect more deeply with their faith and traditions.
                                Copper masks, with their intricate craftsmanship and spiritual significance, play a vital role in the Alankara, adding depth and beauty to religious and cultural practices. People use them to adorn idols, enhance dance performances, or promote various activities</li>
                        </ol>
                    </div>
                    
                </div>
              </div>
        </div>
      </div>





    <div class="gallery-wrap1">

        <div class="gallery1">
            <div>
                <span><img src="{% static 'images\Alankara Kavacha\Crown (2).png' %}" alt=""></span>
                <span><img src="{% static 'images\Alankara Kavacha\Crown (3).png' %}" alt=""></span>
                <span><img src="{% static 'images\Alankara Kavacha\Crown (4).png' %}" alt=""></span>
                <span><img src="{% static 'images\Alankara Kavacha\Crown (5).png' %}" alt=""></span>
               
            </div>
           <div>
                <span><img src="{% static 'images\Alankara Kavacha\Crown (6).png' %}" alt=""></span>
                <span><img src="{% static 'images\Alankara Kavacha\Crown (7).png' %}" alt=""></span>
                <span><img src="{% static 'images\Alankara Kavacha\Crown (8).png' %}" alt=""></span>
                <span><img src="{% static 'images\Alankara Kavacha\Crown.png' %}" alt=""></span>
                
            </div>
            <div>
                <span><img src="{% static 'images\Alankara Kavacha\Kavacha (2).png' %}" alt=""></span>
                <span><img src="{% static 'images\Alankara Kavacha\Kavacha (3).png' %}" alt=""></span>
                <span><img src="{% static 'images\Alankara Kavacha\Kavacha (4).png' %}" alt=""></span>
                <span><img src="{% static 'images\Alankara Kavacha\Kavacha (5).png' %}" alt=""></span>
                <span><img src="{% static 'images\Alankara Kavacha\Kavacha.png' %}" alt=""></span>

            </div>
          
        </div>
 
   </div>

</div>

</body>
</html>

{% endblock %}