{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="{% static 'css/gallery.css' %}"/>
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  <link rel="stylesheet" href="{% static 'css/portfolio.css' %}" />

  <link rel="preload" href="{% static 'js/webpack-722cf20e1ae20ba3.js' %}" as="script" fetchPriority="low"/>
  <script src="{% static 'js/fd9d1056-4691c648476250ad.js' %}" async=""></script>
  <script src="{% static 'js/main-app-a6fcb8f21de3abc1.js' %}" async=""></script>
  <script src="{% static 'js/596-883374ed2c3ed928.js' %}" async=""></script>
  <script src="{% static 'js/polyfills-78c92fac7aa8fdd8.js' %}" noModule=""></script>

  <noscript>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Crimson+Text%3A400%2C400i%2C700%2C700i%7CNunito+Sans%3A400%2C400i%2C600%2C700&#038;subset=latin%2Clatin-ext&#038;display=swap&#038;ver=1.8.10"/>
  </noscript>

  <script src="https://kit.fontawesome.com/13178aa15c.js" crossorigin="anonymous"></script>

	<title>Divine Creations: Discover Exquisite God Sculpture</title>
	
</head>

<body class="__className_e66fe9">





  <!-- navbar -->
  {% include 'includes/navbar.html' %}


  {% block content %}
  <!-- content -->
  {% endblock %}


  <!-- footer -->
  {% include 'includes/footer.html' %}