{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="{% static 'css/gallery.css' %}"/>
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  <link rel="stylesheet" href="{% static 'css/portfolio.css' %}" />
  
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">

  <noscript>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Crimson+Text%3A400%2C400i%2C700%2C700i%7CNunito+Sans%3A400%2C400i%2C600%2C700&#038;subset=latin%2Clatin-ext&#038;display=swap&#038;ver=1.8.10"/>
  </noscript>

  <script src="https://kit.fontawesome.com/13178aa15c.js" crossorigin="anonymous"></script>

	<title>Divine Creations: Discover Exquisite God Sculpture</title>
	
</head>

<body class="__className_e66fe9">

  <!-- navbar -->
  {% include 'includes/navbar.html' %}


  {% block content %}
  <!-- content -->
  {% endblock %}


  <!-- footer -->
  {% include 'includes/footer.html' %}