{% extends 'base.html' %}
{% load static %}
{% block content %}

<div>
    
    <div>
    
        <h2 class="text-center mt-2 mb-4">Brass Kavacham (Mask):</h2>
        <p>Brass Kavacham’s or masks serve as captivating canvases for sculptures to express their creativity.These intricate pieces of art come in various forms, each with its unique significance and style.</p>
                
    </div>


    <div>
        <ol>
            <li>Deity Sculptures: Brass Kavacham often features sculptures of gods and goddesses from various mythologies. These meticulously crafted representations include Hindu deities like Lord Shiva, Goddess Lakshmi, or Lord Ganesha, as well as any other Goddess and other religious figures or idols.</li>
            <li>Animal Figurines: Sculptors use brass to capture the grace and power of animals. You’ll find brass sculptures of majestic lions, graceful horses, and intricate birds that showcase the beauty of the animal kingdom.</li>
            <li>Abstract Art: Some artists prefer to create abstract sculptures using brass, allowing their imagination to flow freely. These pieces can take on various forms and shapes, leaving room for interpretation by the viewer.</li>
            <li>Mythological Scenes: Brass Kavacham and masks often depict scenes from epic myths and legends. These elaborate sculptures tell stories, such as the battle between good and evil or the triumph of heroes over adversity.</li>
    
        </ol>
    </div>


    <div class="gallery-wrap1">

        <div class="gallery1">
            <div>
                <span><img src="{% static 'images\Brass Kavacham(Mask)\Chamundeshwari.png' %}" alt=""></span>
                <span><img src="{% static 'images\Brass Kavacham(Mask)\Crown.png' %}" alt=""></span>
                <span><img src="{% static 'images\Brass Kavacham(Mask)\Ganapathi.png' %}" alt=""></span>
               
            </div>
           <div>
                <span><img src="{% static 'images\Brass Kavacham(Mask)\Mantapa.png' %}" alt=""></span>
                <span><img src="{% static 'images\Brass Kavacham(Mask)\Mariyamma.png' %}" alt=""></span>
                <span><img src="{% static 'images\Brass Kavacham(Mask)\Shri Anjenaya.png' %}" alt=""></span>
                <span><img src="{% static 'images\Brass Kavacham(Mask)\Lord Shiva.png' %}" alt=""></span>
            </div>
          
        </div>
 
   </div>

</div>
</body>

</html>

{% endblock %}