{% extends 'base.html' %}
{% load static %}
{% block content %}

<div >
	
		<div class="container py-8 text-center lg:py-0  lg:justify-between">
			<div class=" xl:py-14 ">
				<h1 class="py-4 text-4xl font-medium lg:text-6xl lg:py-0">Contact Us</h1>
				<div class="wrap">
					<p class="is-style-default has-times-new-roman-font-family has-custom-font has-custom-transform" style="font-family:Times New Roman;text-transform:capitalize">
						&#8220;Get in Touch with Us for Any Inquiries, Support, or Collaborations &#8211;<br>We &#8217;re Here to Assist You!&#8221;<br>
						<br>
					</p>
				</div>

			</div>
		</div>
	


	<div id="contact">
		<div class="container1">
			<div class="row">
				<div class="contact-left">
					<h1 class=" text-4xl py-8">Contact </h1>
					
						<p><i class="fa-solid fa-envelope"></i><a href="mailto:chandrashekaracharyashilpakala@gmail.com"> charyashilpakala@gmail.com</a></p>
					    <p><i class="fa-solid fa-phone"></i><a href="tel:+91 89713 63448">+91 89713 63448</a></p>
					
					
					<div class="socialicons">
						<a href="https://wa.me/+918971363448"><i class="fa-brands fa-whatsapp"></i></a>
						
						<a href="https://www.instagram.com/shilpa_kala_mandira?igsh=YTNjaTMxc2NrbW92"><i class="fa-brands fa-instagram"></i></a>
						
						
					</div>
					
				</div>
				<div class="contact-right">
					<form name='submit-to-database' action="/" method="POST" >
						<input type="text" name="Name" placeholder="Enter your Name here" required>
						<input type="email" name="Email" placeholder="Enter your Email" required>
						<input type="phone" name="Phone" placeholder="Enter your Phone Number" required>
						<textarea name="Message" rows="6" placeholder="Your Message"></textarea>
						<button type="submit" class="button button2">Submit</button>
					</form>
					<span id="msg"></span>
				</div>
			</div>
		</div>

	</div>
	
	
	<div class="wp-block-coblocks-map" style="min-height: 400px;" data-map-attr="/qaddress/q:/qundefined/q||/qlat/q:/qundefined/q||/qlng/q:/qundefined/q||/qskin/q:/qstandard/q||/qzoom/q:/q12/q||/qiconSize/q:/q36/q||/qmapTypeControl/q:/qtrue/q||/qzoomControl/q:/qtrue/q||/qstreetViewControl/q:/qtrue/q||/qfullscreenControl/q:/qtrue/q">
		<h1 class="  text-4xl py-8">Google Map</h1>
		<div class="map-container">
			<iframe
			  width="100%"
			  height="100%"
			  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3888.426347829293!2d77.9579085!3d12.9445479!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bade14bae6c2b87%3A0xdc1b7146399e1835!2sChandra%20Shekara%20Charya%20Shilpa%20kala%20Mandira!5e0!3m2!1sen!2sin!4v1693579715775!5m2!1sen!2sin"
			  allowfullscreen="allowfullscreen"
			></iframe>
		  </div>
	</div>

</div>

</body>
</html>

{% endblock %} 