{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="gallery-wrap1">

        <div class="gallery1">
            <div>
                <span><img src="{% static 'images\Brass Kavacham(Mask)\Shri Anjenaya.png' %}" alt=""></span>
                <span><img src="{% static 'images\Alankara Kavacha\Crown (8).png' %}" alt=""></span>
                <span><img src="{% static 'images\Brass Kavacham(Mask)\Chamundeshwari.png' %}" alt=""></span>
                <span><img src="{% static 'images\Alankara Kavacha\Kavacha.png' %}" alt=""></span>
            </div>
           <div>
               <span><img src="{% static 'images\Brass Kavacham(Mask)\Ganapathi.png' %}" alt=""></span>
                <span><img src="{% static 'images\Brass Kavacham(Mask)\Lord Shiva.png' %}" alt=""></span>
                <span><img src="{% static 'images\Silver\Linga Nagabharana.png' %}" alt=""></span>
                <span><img src="{% static 'images\Vigraha\Vijaya Lakshmi.png' %}" alt=""></span>
            </div>
           <div>
               <span><img src="{% static 'images\Silver\Kali.png' %}" alt=""></span>
                <span><img src="{% static 'images\Silver\Prabhavaali.png' %}" alt=""></span>
                <span><img src="{% static 'images\Brass Kavacham(Mask)\Mariyamma.png' %}" alt=""></span>
                <span><img src="{% static 'images\Vigraha\Garuda Vahana.png' %}" alt=""></span>
            </div>
           <div>
               <span><img src="{% static 'images\Vigraha\Annamma Devi.png' %}" alt=""></span>
                <span><img src="{% static 'images\Vigraha\Bhutha Vahana.png' %}" alt=""></span>
                <span><img src="{% static 'images\Vigraha\Lagumamma.png' %}" alt=""></span>
                <span><img src="{% static 'images\Vigraha\Shri Venkateshwara Swamy.png' %}" alt=""></span>
            </div>
        </div>
 
   </div>
</body>

</html>

{% endblock %}