{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- content -->
	<div class="bg-zinc-50">
		<div class="container py-8 text-center lg:py-0 lg:text-left lg:flex lg:justify-between">
			<div class="lg:w-1/2 xl:py-14 lg:py-8">
				<p class="tracking-widest">Divine Creations: Discover Exquisite God Sculpture</p>
				<h1 class="py-4 text-3xl font-extrabold leading-tight text-gray-800 xl:text-6xl lg:text-4xl">
					Designs in India’s <br />
					Rich Heritage
				</h1>
				<p class="pb-6 text-gray-500 xl:pb-10">God sculptures in India are exquisite and diverse works of art
					that hold deep religious and cultural significance of shilpakalamandira. <br /></p>
				<a
					class="inline-flex items-center px-8 py-3 text-white rounded-full shadow-lg bg-gray-950 hover:bg-gray-800 hover:ring-2 hover:ring-gray-950 ring-offset-2" href="{% url 'contact' %}">
					Get Started
					<svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
						stroke-linejoin="round" class="w-5 h-5 ml-2" height="1em" width="1em"
						xmlns="http://www.w3.org/2000/svg">
						<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
						<path d="M17 7l-10 10"></path>
						<path d="M8 7l9 0l0 9"></path>
					</svg>
				</a>
			</div>
			<div class="w-1/2">
				<img alt="" loading="lazy" width="800" height="500" decoding="async" data-nimg="1"
					class="absolute right-0 xl:h-[448px] xl:w-[700px] lg:h-[344px] lg:w-[500px] hidden lg:block"
					style="color:transparent" src="{% static 'images\others\Silver_Mask.png' %}" />
			</div>
		</div>
	</div>
<!-- content -->

<!-- grid-cols-4 -->

	<div class="grid gap-8 divide-gray-300 lg:divide-x lg:gap-0 lg:grid-cols-4 md:grid-cols-2">
		<div class="relative overflow-hidden group">
			<div>
				<img alt="" loading="lazy" width="380" height="100" decoding="async" data-nimg="1" class="w-full"
					style="color:transparent" src="{% static 'images\Brass Kavacham(Mask)\Ganapathi.png' %}" />
			</div>
			<div class="absolute top-0 p-8 m-12 bg-white bg-opacity-60 backdrop-blur">
				<div class="flex justify-between pb-4">
					<p class="text-sm">Brass Kavacham</p>
					<span class="text-sm">01</span>
				</div>
				<a class="block text-xl font-semibold" href="">Sculpted silver Kavacham masks</a>
				<p class="py-4 text-gray-500">Diverse, captivating art." Alankara Kavacham: Copper masks enrich cultural
					rituals with beauty and spirituality.</p>
				<a class="inline-flex items-center font-medium" href="">
					See Details
					<svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
						stroke-linejoin="round" class="ml-2 text-xl" height="1em" width="1em"
						xmlns="http://www.w3.org/2000/svg">
						<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
						<path d="M5 12l14 0"></path>
						<path d="M15 16l4 -4"></path>
						<path d="M15 8l4 4"></path>
					</svg>
				</a>
			</div>
			<div
				class="inset-0 flex-col items-center justify-end hidden gap-32 pb-16 text-xl transition duration-300 ease-in-out border-b-2 md:flex md:absolute group-hover:translate-y-full md:border-b-0 bg-zinc-100">
				<p class="tracking-wider -rotate-90">Brass Kavacham<!-- --></p>
				<span class="">01</span>
			</div>
		</div>
		<div class="relative overflow-hidden group">
			<div>
				<img alt="" loading="lazy" width="380" height="100" decoding="async" data-nimg="1" class="w-full"
					style="color:transparent" src="{% static 'images\Alankara Kavacha\Crown (7).png' %}" />
			</div>
			<div class="absolute top-0 p-8 m-12 bg-white bg-opacity-60 backdrop-blur">
				<div class="flex justify-between pb-4">
					<p class="text-sm">Alankara Kavacham</p>
					<span class="text-sm">02</span>
				</div>
				<a class="block text-xl font-semibold" href="">Copper masks &amp; </a>
				<p class="py-4 text-gray-500">Enrich cultural rituals with beauty and spirituality.</p>
				<a class="inline-flex items-center font-medium" href="">
					See Details
					<svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
						stroke-linejoin="round" class="ml-2 text-xl" height="1em" width="1em"
						xmlns="http://www.w3.org/2000/svg">
						<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
						<path d="M5 12l14 0"></path>
						<path d="M15 16l4 -4"></path>
						<path d="M15 8l4 4"></path>
					</svg>
				</a>
			</div>
			<div
				class="inset-0 flex-col items-center justify-end hidden gap-32 pb-16 text-xl transition duration-300 ease-in-out border-b-2 md:flex md:absolute group-hover:translate-y-full md:border-b-0 bg-zinc-100">
				<p class="tracking-wider -rotate-90">Alankara Kavacham<!-- --></p>
				<span class="">02</span>
			</div>
		</div>
		<div class="relative overflow-hidden group">
			<div>
				<img alt="" loading="lazy" width="380" height="100" decoding="async" data-nimg="1" class="w-full"
					style="color:transparent" src="{% static 'images\Vigraha\Lagumamma.png' %}" />
			</div>
			<div class="absolute top-0 p-8 m-12 bg-white bg-opacity-60 backdrop-blur">
				<div class="flex justify-between pb-4">
					<p class="text-sm">Vigraha</p>
					<span class="text-sm">03</span>
				</div>
				<a class="block text-xl font-semibold" href="">Brass idols</a>
				<p class="py-4 text-gray-500">Intricate, spiritual treasures enriching rituals & art.</p>
				<a class="inline-flex items-center font-medium" href="">
					See Details
					<svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
						stroke-linejoin="round" class="ml-2 text-xl" height="1em" width="1em"
						xmlns="http://www.w3.org/2000/svg">
						<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
						<path d="M5 12l14 0"></path>
						<path d="M15 16l4 -4"></path>
						<path d="M15 8l4 4"></path>
					</svg>
				</a>
			</div>
			<div
				class="inset-0 flex-col items-center justify-end hidden gap-32 pb-16 text-xl transition duration-300 ease-in-out border-b-2 md:flex md:absolute group-hover:translate-y-full md:border-b-0 bg-zinc-100">
				<p class="tracking-wider -rotate-90">Vigraha<!-- --></p>
				<span class="">03</span>
			</div>
		</div>
		<div class="relative overflow-hidden group">
			<div>
				<img alt="" loading="lazy" width="380" height="100" decoding="async" data-nimg="1" class="w-full"
					style="color:transparent" src="{% static 'images\Silver\Muneshwara.png' %}" />
			</div>
			<div class="absolute top-0 p-8 m-12 bg-white bg-opacity-60 backdrop-blur">
				<div class="flex justify-between pb-4">
					<p class="text-sm">
						Silver Kavacham
					</p>
					<span class="text-sm">04</span>
				</div>
				<a class="block text-xl font-semibold" href="">Silver Kavacham masks</a>
				<p class="py-4 text-gray-500">Intricate art with unique significance.</p>
				<a class="inline-flex items-center font-medium" href="">
					See Details
					<svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
						stroke-linejoin="round" class="ml-2 text-xl" height="1em" width="1em"
						xmlns="http://www.w3.org/2000/svg">
						<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
						<path d="M5 12l14 0"></path>
						<path d="M15 16l4 -4"></path>
						<path d="M15 8l4 4"></path>
					</svg>
				</a>
			</div>
			<div
				class="inset-0 flex-col items-center justify-end hidden gap-32 pb-16 text-xl transition duration-300 ease-in-out border-b-2 md:flex md:absolute group-hover:translate-y-full md:border-b-0 bg-zinc-100">
				<p class="tracking-wider -rotate-90">
					Silver Kavacham
					<!-- -->
				</p>
				<span class="">04</span>
			</div>
		</div>
	</div>
<!-- grid-cols-4 -->

<!-- content -->

	<div class="py-8 lg:py-28">
		<div class="container grid pb-8 lg:grid-cols-2">
			<div class="text-left">
				<h1 class="py-4 text-4xl font-medium lg:text-6xl lg:py-0">VIEW PORTFOLIO</h1>
			</div>
			<div>
				<h2 class="pb-6 text-xl font-bold tracking-wider">At Shilpakalamandira,</h2>
				<div class="grid grid-cols-2 text-gray-500 gap-x-8">
					<div>
						<p>we have honed our skills in sculpting exquisite works of art from brass, copper, and silver
							for 35 years with dedicated craftsmanship.</p>
					</div>
					<div>
						<p>We can create any type of idol (statue or vigraha), God’s Mask (Kavacham), or Prabhavali from
							brass, copper, or silver. Please feel free to say hello and explore our best work.</p>
						<a href="{% url 'gallery' %}" class="inline-flex items-center pt-4 text-lg font-bold text-black underline">
							View Gallery
							<svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24"
								stroke-linecap="round" stroke-linejoin="round" height="1em" width="1em"
								xmlns="http://www.w3.org/2000/svg">
								<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
								<path d="M17 7l-10 10"></path>
								<path d="M8 7l9 0l0 9"></path>
							</svg>
						</a>
					</div>
				</div>
			</div>
		</div>
<!-- content -->



<!-- gallery -->

		<div class="gallery-wrap">

			<div class="gallery">
				<div>
					<span><img src="{% static 'images\Brass Kavacham(Mask)\Shri Anjenaya.png' %}" alt=""></span>
					<span><img src="{% static 'images\Alankara Kavacha\Crown (8).png' %}" alt=""></span>
					<span><img src="{% static 'images\Brass Kavacham(Mask)\Chamundeshwari.png' %}" alt=""></span>
				</div>
				<div>
					<span><img src="{% static 'images\Brass Kavacham(Mask)\Ganapathi.png' %}" alt=""></span>
					<span><img src="{% static 'images\Brass Kavacham(Mask)\Lord Shiva.png' %}" alt=""></span>
					<span><img src="{% static 'images\Silver\Linga Nagabharana.png' %}" alt=""></span>
				</div>
				<div>
					<span><img src="{% static 'images\Silver\Kali.png' %}" alt=""></span>
					<span><img src="{% static 'images\Silver\Prabhavaali.png' %}" alt=""></span>
					<span><img src="{% static 'images\Brass Kavacham(Mask)\Mariyamma.png' %}" alt=""></span>
				</div>
			</div>
	
		</div>

	</div>
<!-- gallery -->




<!-- script for gallery -->
	<script>
        let scrollContainer = document.querySelector(".gallery");
        let isScrolling = false;

        scrollContainer.addEventListener("mouseover", (evt) => {
            isScrolling = true;
            scrollContainer.scrollLeft += 50;
            requestAnimationFrame(() => {
                isScrolling = false;
            });
        });

        scrollContainer.addEventListener("mouseout", () => {
            isScrolling = false;
        });

        scrollContainer.addEventListener("wheel", (evt) => {
            if (isScrolling) {
                evt.preventDefault();
                return;
            }
            scrollContainer.scrollLeft += evt.deltaY;
        });
    </script>
<!-- script for gallery -->



</body>

</html>


{% endblock %}