{% extends 'base.html' %}
{% load static %}
{% block content %}


<div>



  <div id="about">
    <div class="container">
        <div class="row1">
            <div class="about-col1">
                <h1 class="tracking-widest">Portfolio</h1> 
            </div>
          
            <div class="about-col2">
                
                <p>
                    Explore the world of exquisite artistry and spiritual significance in our portfolio through brass, copper, and silver Kavachams and masks. These intricately crafted sculptures showcase deity representations, animal figurines, abstract art, and mythological scenes. Discover how they enrich religious practices, cultural traditions, and artistic expressions, inviting you into a realm of creativity and devotion. 
                </p>
            </div>
          </div>
    </div>
  </div>
  

                        
    <div id="services">
        <div class="container">
            <h1 class="subtitle text-center mt-2 mb-4">Our Services</h1>
            <div class="services-list">
                <div>
                    
                    <h2 class="block text-xl font-semibold">Brass Kavacham</h2>
                    <li class="py-4 text-gray-500">Brass Kavacham’s or masks serve as captivating canvases for sculptures to express their creativity.</li>
                            
                    <a href="{% url 'brass' %}">See Details</a>

                </div>
                <div>
                    
                    <h2>Alankara Kavacham</h2>
                    <li class="py-4 text-gray-500">Copper masks play a unique role in the realm of Alankara (decoration and adornment) in various cultures and rituals.</li>
                    <a href="{% url 'alankara' %}">See Details</a>

                </div>
                <div>
                    
                    <h2>Vigraha</h2>
                    <li class="py-4 text-gray-500">Brass idols, with their intricate craftsmanship and spiritual significance, play a vital role in the Alankara, adding depth and beauty to religious and cultural practices</li>
                    <a href="{% url 'vigraha' %}">See Details</a>

                </div>
                <div>
                    
                    <h2>Silver Kavacham</h2>
                    <li class="py-4 text-gray-500">Silver Kavacham’s or masks serve as captivating canvases for sculptures to express their creativity. </li>
                    <a href="{% url 'silver' %}">See Details</a>

                </div>
            </div>
        </div>
    </div>
                    
</div>
</body>
</html>


{% endblock %}