{% extends 'base.html' %}
{% load static %}
{% block content %}

<div>

    <div id="about">
        <div class="container">
            <div class="row">
                <div class="about-col1">
                   
        <h1 class="tracking-widest">Idols (Vigraha):</h1>
        <p>Brass idols, with their intricate craftsmanship and spiritual significance, play a vital role in the Alankara, adding depth and beauty to religious and cultural practices. Whether adorning idols, enhancing dance performances, or healing, these masks continue to hold a special place in the hearts of those who value their spiritual and aesthetic significance.</p>
                </div>
              
                <div class="about-col2">
                    <div>
                        <ol>
                            <li>Divine Inspiration: Sculptors who create idols draw their inspiration from religious texts, mythology, and cultural traditions. Each idol embodies the essence of the deity or figures it represents, conveying their attributes, symbolism, and spiritual significance.</li>
                            <li>Traditional Techniques: Sculptors often employ traditional techniques that they have inherited through generations in the process of idol sculpturing. These methods can vary depending on the culture but typically include carving, casting, and molding using materials like clay and metal, such as Brass.</li>
                        </ol>
                    </div>
                
                    
                </div>
              </div>
        </div>
      </div>

    <div class="gallery-wrap1">

        <div class="gallery1">
            <div>
                <span><img src="{% static 'images\Vigraha\Ammanavaru.png' %}" alt=""></span>
                <span><img src="{% static 'images\Vigraha\Annamma Devi.png' %}" alt=""></span>
                <span><img src="{% static 'images\Vigraha\Bhutha Vahana.png' %}" alt=""></span>
                <span><img src="{% static 'images\Vigraha\Chamundeshwari (2).png' %}" alt=""></span>
               
            </div>
           <div>
                <span><img src="{% static 'images\Vigraha\Garuda Vahana.png' %}" alt=""></span>
                <span><img src="{% static 'images\Vigraha\Lagumamma.png' %}" alt=""></span>
                <span><img src="{% static 'images\Vigraha\Mariyamma.png' %}" alt=""></span>
                <span><img src="{% static 'images\Vigraha\Shri Venkateshwara Swamy.png' %}" alt=""></span>
                <span><img src="{% static 'images\Vigraha\Vijaya Lakshmi.png' %}" alt=""></span>
            </div>
          
        </div>
 
   </div>

</div>
</body>

</html>

{% endblock %}